<h2>Edit a Figure</h2>

<form action="/figures/<%= @figure.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Name:</label>   
    <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">

    <br>

    <h3>Edit Titles</h3>
    <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %><br>
    <% end %>
    <br>

    <label>Create New Title:</label>   
    <input type="text" name="title[name]" id="new_title">
    <br>

    <h3>Edit Landmark</h3>
    <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %><br>
    <% end %>
    <br>

    <h3>Create New Landmark:</h3> 
    <label>Name:</label>  
    <input type="text" name="landmark[name]" id="new_landmark">
    <br><br>
    
    <input type="submit" value="Edit Figure">
</form>
